
.tab {
  background-color: white;
}

.app-title {
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}

.app-title-description {
  font-weight: normal;
  color: #ffffff;
  padding-top: 5px;
  font-size: 12px;
}

.app-logo {
  width: 33px;
  height: 33px;
  -webkit-filter: drop-shadow(5px 5px 5px #29fbc7);
  filter: drop-shadow(5px 5px 5px #2f00a0);
}

.app-header {
  background-image: linear-gradient(
      124deg, #085377fc, #0046e28c);
}

.app-logo-center {
  display: block;
  margin: auto;
  width: 50%;
}


.login-form {
  padding: 10px;
}

.login-form-card {
  margin: 25px;
  font-size: 12px;
}

.button-width-100 {
  width: 152px;
  margin: auto;
}

.remember-password {
  font-size: 12px;
  margin: 10px
}

.login-form-header {
  font-size: 25px;
}

.login-alert {
  font-weight: bold;
  margin: auto;
  display: block
}
