
.tab {
  background-color: white;
}

.app-title {
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}

.app-title-description
{
  font-weight: bold;
  color: #ffffff;
  padding-top: 5px;
  font-size: 12px;
}

.header-notification-icon
{
  display: block;
  margin: auto;
  font-size: 20px;
  width: 37px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  height: 37px;
  background: #0072b578;
  color: white;
  border-radius: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #2f00a0);
  filter: drop-shadow(5px 5px 5px #2f00a0);
}
.app-logo {
  width: 33px;
  height: 33px;
  -webkit-filter: drop-shadow(5px 5px 5px #29fbc7);
  filter: drop-shadow(5px 5px 5px #2f00a0);
}

.app-header {
  background-image: linear-gradient(
      124deg
    , #085377fc, #0046e28c);
}

.app-logo-center {
  display: block;
  margin: auto;
  width: 50%;
}

.blue-gradient
{
  background-image: linear-gradient(124deg, #085377fc, #0046e28c);
}

.border-radius-50
{
  border-radius: 50px;
}

