<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet>
    <ion-app class="app-page"></ion-app>
  </ion-router-outlet>
  <ion-searchbar mode="product-search-mode" [(ngModel)]="searchTerm" (ionInput)="setFilteredProducts()" animated="true"></ion-searchbar>
  <ion-card class="products-list products-card" mode="product-search-mode" *ngFor="let product of products;">
      <ion-grid style="padding-left: 0px;">
        <ion-row class="card-row">
          <ion-col size="4">
            <img class="product-image shadow" src="{{ product.image }}" alt="{{ product.name }}">
          </ion-col>
          <ion-col size="6" offset="1">
            <div class="product-info">
              <div>
                <ion-label class="lable-style"> {{ product.name }} </ion-label>
              </div>
              <div>
                <ion-label class="product-price"> &#x20B9; {{ product.price }} </ion-label> <ion-label class="label-grey-style strike-through"> {{ getDiscount(product) }}</ion-label>
              </div>
              <div slot="bottom">
                <button *ngIf="product.availability" class="success color-success"> Available </button>
              </div>
              <div slot="bottom">
                <ion-button class="button-styles book-now-button" fill="outline" (click)="showProductDetails(product)" slot="end">Book Now</ion-button>
              </div>

            </div>

          </ion-col>
          <ion-col size="1">
            <div class="favorite-icon">
              <ion-icon name="heart-outline" class=""></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

</ion-content>


