.align-left
{
    text-align: -webkit-right;;
}

.datePickerClass
{
    position: absolute;
    width: 100%;
}

.tab1-body
{
    background-color: rgb(255, 49, 203);
}

#background-content
{
    background-color: lightblue;
}
.tab{
    background-color: rgb(50, 255, 152);
}
 .app-logo2 {
    margin-inline-end: auto;
    max-width: 16%;
    border: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
 