.app-logo1{
    padding-right: 40px;
  margin-top: 15px;
  block-size: 137px;
    margin-left: 95px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(
45deg
, #6b84d0e8, transparent);
    padding-top: 60px;
}
.date-order{
  background-image: linear-gradient(45deg, #6fadca, transparent);
}
.app-logo2{
  padding-right: 40px;
  margin-top: 15px;
  block-size: 137px;
  margin-left: 95px;
  padding-left: 20px;
  background-image: linear-gradient(
      45deg
    , #6b84d0e8, transparent);
  padding-top: 60px;
}
.payment-button{
  margin-right: 111px;
  background-image: linear-gradient(
      45deg
    , #bae9f1, transparent);
}

.tab-page{
background-color: blueviolet;
}
.app-logo3 {
  margin-inline-end: auto;
  max-width: 28%;
  border: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
 .tab-inner{
background-color: brown;
   }

   .ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
}
.inner-tab{
    background-color: crimson;
}
.pay-card{
  padding-top: 30px;
}

.payment-option-grid {

}



.products-list {
  border-radius: 10px 10px 0px 0px;
}

.product-image {
  width: 112%;
  height: 100%;
}

.favorite-icon {

  border-radius: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #a8a8a8);
}

.favorite-icon ion-icon {
  font-size: 22px;
}

.book-now-button {
  height: 22px;
  width: fit-content;
  font-size: 10px;
}

.product-info {
  margin-left: 5px;
}

.product-price {
  font-weight: bold;
}

.color-success {
  color: #00923e;
}


.shadow
{
  -webkit-filter: drop-shadow(1px 2px 7px #a8a8a8);
}
